# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
/.idea
Config/Conf.php
Supprimerait public/img/test/
/phinx.yml
Supprimerait db/seeds/

/vendor/
Supprimerait Controllers/Pages/
Supprimerait Controllers/Posts/
Supprimerait controllers/
