/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*==============================================================================================================
html, body
=================================================================================================================*/
/* line 16, ../scss/screen.scss */
html, body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: url("../img/pc_portable2.jpg") !important;
  background-size: cover;
}

/* line 28, ../scss/screen.scss */
a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
/* line 29, ../scss/screen.scss */
a:hover {
  color: #DC6263;
  text-decoration: none;
}

/* line 37, ../scss/screen.scss */
#active {
  color: #DC6263;
}

/*===========================================================================================================
header
============================================================================================================*/
/* line 44, ../scss/screen.scss */
.header {
  font-family: 'Maven Pro', sans-serif;
  height: 80px;
  position: static;
  border-bottom: 1px solid #DC6263;
}
/* line 50, ../scss/screen.scss */
.header .header_logo #logo {
  width: 60px;
  height: 60px;
}
/* line 54, ../scss/screen.scss */
.header .header_logo svg {
  width: 100px;
  margin-top: 10px;
  padding: 0 25px;
  height: 50px;
}
/* line 59, ../scss/screen.scss */
.header .header_logo svg .inside {
  fill: #bcbcad;
  fill-opacity: 1;
}
/* line 63, ../scss/screen.scss */
.header .header_logo svg .init {
  fill: #595963;
  fill-opacity: 1;
}
/* line 68, ../scss/screen.scss */
.header .header_logo svg .init:hover, .header .header_logo svg .inside:hover {
  fill: #1f55ff;
  fill-opacity: 0.5;
}

/*===========================================================================================================
title
=============================================================================================================*/
/* line 79, ../scss/screen.scss */
h1, h2, h3, h4 {
  font-weight: bold;
}

/*============================================================================================================
hamburger icon
=============================================================================================================*/
/* line 85, ../scss/screen.scss */
.header_icon {
  position: relative;
  display: block;
  float: right;
  height: 80px;
  width: 50px;
  cursor: pointer;
}
/* line 92, ../scss/screen.scss */
.header_icon:after {
  content: '';
  position: absolute;
  display: block;
  width: 22px;
  height: 0;
  top: 14px;
  left: 16px;
  -moz-box-shadow: 0 10px 0 2px black, 0 20px 0 2px black, 0 30px 0 2px black;
  -webkit-box-shadow: 0 10px 0 2px black, 0 20px 0 2px black, 0 30px 0 2px black;
  box-shadow: 0 10px 0 2px black, 0 20px 0 2px black, 0 30px 0 2px black;
}

/*=========================================================================================================
hidden menu
===========================================================================================================*/
/* line 107, ../scss/screen.scss */
.container-top {
  color: #F0F0EE;
}
/* line 110, ../scss/screen.scss */
.container-top .menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(77, 77, 77, 0.8);
  width: 250px;
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 119, ../scss/screen.scss */
.container-top .menu a {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid grey;
}
/* line 120, ../scss/screen.scss */
.container-top .menu a:hover {
  color: #DC6263;
  text-decoration: none;
}

/*============================================================================================================
menu desktop
==============================================================================================================*/
/* line 136, ../scss/screen.scss */
.menu-desktop {
  display: none;
}

/*=================================================================================================================
visible menu
when the body have a with side bar class
==================================================================================================================*/
/* line 145, ../scss/screen.scss */
.with--sidebar .site-pusher {
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
}
/* line 148, ../scss/screen.scss */
.with--sidebar .site-cache {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/*============================================================================================================
container
===============================================================================================================*/
/* line 161, ../scss/screen.scss */
.stripe {
  position: relative;
}
/* line 163, ../scss/screen.scss */
.stripe:after {
  position: absolute;
  content: '';
  background: url("../img/stripes.png-vsnd") repeat-x center center;
  color: white;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 175, ../scss/screen.scss */
.site-pusher, .site-container {
  font-family: 'Didact Gothic', sans-serif;
  height: 100%;
}

/* line 186, ../scss/screen.scss */
.site-pusher {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 191, ../scss/screen.scss */
.site-container {
  overflow: hidden;
}

/* line 195, ../scss/screen.scss */
.site-content {
  color: #F0F0EE;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 210, ../scss/screen.scss */
.container {
  overflow: hidden;
  *zoom: 1;
}

/* line 214, ../scss/screen.scss */
.site-content {
  padding-top: 30px;
}

/* line 218, ../scss/screen.scss */
.border {
  border-bottom: 1px solid #DC6263;
}

/*===========================================================================================================
my picture
==============================================================================================================*/
/* line 225, ../scss/screen.scss */
.figure {
  display: none;
}

/*===========================================================================================================
article
=======================================================================================================*/
/* line 232, ../scss/screen.scss */
.description {
  padding: 0;
  margin: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 236, ../scss/screen.scss */
.description h1 {
  font-size: 24px;
}
/* line 239, ../scss/screen.scss */
.description h2 {
  font-size: 24px;
}
/* line 241, ../scss/screen.scss */
.description h2 em {
  font-size: 16px;
  color: #C4B2FF;
}
/* line 246, ../scss/screen.scss */
.description img {
  width: 50px;
  margin: 30px;
}
/* line 250, ../scss/screen.scss */
.description span {
  text-transform: uppercase;
}
/* line 253, ../scss/screen.scss */
.description .simplon {
  overflow: auto;
}
/* line 255, ../scss/screen.scss */
.description .simplon img {
  height: 50px;
  width: 50px;
  float: left;
}

/*=============================================================================
card
==============================================================================*/
/* line 266, ../scss/screen.scss */
.card {
  background-color: rgba(77, 77, 77, 0.8);
  color: #FFFFFE;
}
/* line 269, ../scss/screen.scss */
.card .content-image {
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 272, ../scss/screen.scss */
.card .content-image:hover {
  opacity: 0.5;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 275, ../scss/screen.scss */
.card .content-image:hover .image {
  margin: 0 auto;
  opacity: 1;
}

/* line 283, ../scss/screen.scss */
.carousel-inner {
  padding-left: 0;
  width: 400px;
}
/* line 286, ../scss/screen.scss */
.carousel-inner .d-block {
  width: 100%;
}

/* line 290, ../scss/screen.scss */
.media-back .carousel-item {
  margin-top: 45px;
  margin-left: 15px !important;
  padding-bottom: 10px;
  width: 370px;
  height: 230px;
}

/*=======================================================================
form
===========================================================================*/
/* line 301, ../scss/screen.scss */
.field {
  position: relative;
  height: 72px;
  padding: 16px 0 8px 0;
}

/* line 307, ../scss/screen.scss */
.field-label {
  position: relative;
  margin: 0;
  color: #bfbfbf;
  line-height: 16px;
  font-weight: 400;
  font-size: 16px;
  display: block;
  -moz-transform: translateY(24px);
  -ms-transform: translateY(24px);
  -webkit-transform: translateY(24px);
  transform: translateY(24px);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 319, ../scss/screen.scss */
.field-input {
  color: #f5f2f0;
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  padding: 8px 0;
  line-height: 16px;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  font-size: 16px;
  outline: none;
}

/* line 334, ../scss/screen.scss */
.field::after, .field::before {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 6px;
  left: 0;
  background-color: #e7e7e7;
}

/* line 344, ../scss/screen.scss */
.field::after {
  background-color: #ff85a4;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 350, ../scss/screen.scss */
.has-label .field-label {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* line 354, ../scss/screen.scss */
.is-focused .field-label {
  font-size: 12px;
  color: #ff85a4;
}

/* line 360, ../scss/screen.scss */
.field.is-focused::after {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 364, ../scss/screen.scss */
.message {
  color: #bfbfbf;
}

/* line 367, ../scss/screen.scss */
.social {
  fill: black;
  height: 35px;
  width: 35px;
}

/* line 372, ../scss/screen.scss */
#alert {
  z-index: 1000;
}

/*=============================================================================
competence
==============================================================================*/
/* line 378, ../scss/screen.scss */
.language {
  height: 200px;
  background-color: rgba(77, 77, 77, 0.8);
}

/*==============================================================================
footer
================================================================================*/
/* line 386, ../scss/screen.scss */
footer {
  border-top: 1px solid rgba(77, 77, 77, 0.8);
  color: #000;
  background-color: rgba(77, 77, 77, 0.8);
}
/* line 389, ../scss/screen.scss */
footer h4 {
  font-size: 20px;
}
/* line 393, ../scss/screen.scss */
footer .dashed {
  border-left: 1px solid rgba(77, 77, 77, 0.8);
}
/* line 396, ../scss/screen.scss */
footer img {
  height: 30px;
}
/* line 400, ../scss/screen.scss */
footer .article-footer p {
  font-size: 13px;
}

/*===========================================================================
tablet format
===============================================================================*/
/*===============================================================================
tablet landscape format
==================================================================================*/
@media only screen and (min-width: 1024px) {
  /*=================================================================
  menu hidden
  ===================================================================*/
  /* line 14, ../scss/_tablet.scss */
  .menu-desktop {
    display: block;
    height: 66px;
    line-height: 66px;
    float: right;
    padding: 0 25px;
  }
  /* line 20, ../scss/_tablet.scss */
  .menu-desktop a {
    padding: 0 10px;
  }
  /* line 21, ../scss/_tablet.scss */
  .menu-desktop a:hover {
    color: #DC6263;
  }

  /*=====================================================================
header
  ====================================================================*/
  /* line 30, ../scss/_tablet.scss */
  .header {
    border-bottom: 1px solid #DC6263;
  }

  /* line 33, ../scss/_tablet.scss */
  .header_logo {
    padding: 0 40px;
  }

  /* line 36, ../scss/_tablet.scss */
  .header_icon {
    display: none;
  }

  /*=========================================================================
  my picture
  =============================================================================*/
  /* line 42, ../scss/_tablet.scss */
  .figure {
    display: block;
  }

  /* line 45, ../scss/_tablet.scss */
  .linked {
    width: 15px;
    height: 15px;
  }

  /* line 49, ../scss/_tablet.scss */
  .media-back {
    background-image: url("../img/mac.png-vsnd");
    background-size: cover;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 400px;
    height: 280px;
  }
  /* line 55, ../scss/_tablet.scss */
  .media-back .carousel-item {
    margin-top: 45px;
    margin-left: 50px;
    padding-bottom: 10px;
    width: 370px;
    height: 230px;
  }

  /*============================================================================
description
  ==============================================================================*/
  /* line 67, ../scss/_tablet.scss */
  .title h1 {
    font-size: 45px;
  }
  /* line 70, ../scss/_tablet.scss */
  .title p {
    font-size: 25px;
  }
}
/*==============================================================
desktop format
================================================================*/
@media only screen and (min-width: 1200px) {
  /* line 6, ../scss/_desktop.scss */
  .header {
    position: static;
    top: 80px;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 66px;
    border-bottom: 1px solid #DC6263;
  }

  /* line 15, ../scss/_desktop.scss */
  .container-top {
    width: 80%;
    margin: 0 auto;
  }
  /* line 18, ../scss/_desktop.scss */
  .container-top .header_logo {
    padding: 0 25px;
    float: left;
  }
  /* line 21, ../scss/_desktop.scss */
  .container-top .header_logo #logo {
    width: 60px;
    height: 60px;
  }
  /* line 26, ../scss/_desktop.scss */
  .container-top .header_icon {
    display: none;
  }
  /* line 29, ../scss/_desktop.scss */
  .container-top .menu {
    float: right;
  }
  /* line 31, ../scss/_desktop.scss */
  .container-top .menu a {
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
  }
  /* line 35, ../scss/_desktop.scss */
  .container-top .menu a:hover {
    color: #DC6263;
  }

  /* line 41, ../scss/_desktop.scss */
  .media-back {
    background-image: url("../img/mac.png-vsnd");
    background-size: cover;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 400px;
    height: 280px;
  }
  /* line 47, ../scss/_desktop.scss */
  .media-back .carousel-item {
    margin-top: 45px;
    margin-left: 50px;
    padding-bottom: 10px;
    width: 370px;
    height: 230px;
  }

  /* line 55, ../scss/_desktop.scss */
  .link {
    width: 25px;
  }

  /* line 58, ../scss/_desktop.scss */
  .photo {
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 300px;
  }
}
